@define-color bg #f5f2e9;
@define-color fg #492924;
@define-color gray1 #6f6644;
@define-color gray2 #85837d;
@define-color gray3 #72684b;
@define-color gray4 #6f6645;
@define-color gray5 #796e51;
@define-color fg_bright #6e4740;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}